@font-face {
  font-family: "logo-font";
  src: url('./logo-font.ttf');
}

@font-face {
  font-family: "din-black";
  src: url('./din/DIN-Black.otf');
}

@font-face {
  font-family: "din-bold";
  src: url('./din/DIN-Bold.otf');
}

@font-face {
  font-family: "din-light";
  src: url('./din/DIN-Light.otf');
}

@font-face {
  font-family: "din-mdium";
  src: url('./din/DIN-Medium.otf');
}